@charset "UTF-8";
/* navigation */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #999;
}
.navbar-default {
	background-color: #111133;
	color: #EEEEEE;
  	border-color: #999;
}
.navbar-default .navbar-brand {
  color: #EEE;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ddd;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #EEE;
}
.navbar-default .navbar-nav > li > a {
  color: #EEE;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #999;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #999;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #EEE;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #999;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #111133 ;
  background-color: #eee;
}
/* main above the fold area */
.jumbotron {
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #6688AA;
}
.jumbotron#home {
	background: url("../images/home_banner_sky.jpg") no-repeat center center;
	background-size: cover;
}
.jumbotron#about {
	background: url("../images/SHS_about_banner.jpg") no-repeat center center;
	background-size: cover;
	background-color: #6688AA;
  padding: 80px;
}
.jumbotron#services {
	background: url("../images/building_banner.jpg") no-repeat center center;
	background-size: cover;
	background-color: #6688AA;
  padding: 80px;
}
.jumbotron#portfolio {
  background: url("../images/planning_banner.jpg") no-repeat center center;
  background-size: cover;
  background-color: #6688AA;
  padding: 80px;
}
.jumbotron#contact {
	background: url("../images/contactus_banner.jpg") no-repeat center center;
	background-size: cover;
	background-color: #6688AA;
  padding: 80px;
}
.jumbotron h1,
.jumbotron .h1 {
  color: #eee;
  text-shadow: 1px 1px 1px #000;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 300;
  color: #eee;
  text-shadow: 1px 1px 1px #000;
}
.jumbotron button {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 400;
}

/* service module area and contact footers*/
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 0;
  background-color: #fff;
  border: none;
}

/* headers areas section */
#services {
	padding-bottom: 20px;
}
#page_header {
		padding-bottom: 20px;
}
/* contact container */
#sub_cta {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 20px;
  background-color: #6688AA;
  color: #eee;
}
#contact p {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 300;
}
#contact button {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}
/* footer */
footer {
	background-color: #111133;
	color: #eee;
	padding-top: 8px;
}
/* media quieries */
